<p>
  home mobile works!
  <weui-button (click)="showVal($event)">成功样式按钮</weui-button>
  <button weui-button weui-type="default" (click)="onShow()">iOS Dialog</button>
  <weui-dialog #ios [config]="config"></weui-dialog>
</p>
<div class="weui-flex">
  <div class="weui-flex__item">
      <div class="placeholder">weui</div>
  </div>
  <div class="weui-flex__item">
      <div class="placeholder">weui</div>
  </div>
  <div class="weui-flex__item">
      <div class="placeholder">weui</div>
  </div>
</div>
<form>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">Date</label>
        </div>
        <div class="weui-cell__bd">
          <weui-date-picker #picker placeholder="Pick a Date"
            [min]="DT.min" [max]="DT.max" (change)="timechange()"
            [(ngModel)]="res.date" name="date"></weui-date-picker>
        </div>
    </div>
  </div>
</form>
<button weui-button [weui-type]="'default'" (click)="onShowToast()">成功提示</button>
<button weui-button [weui-type]="'default'" (click)="onShowToptips('primary')">Primary Toptip</button>
<weui-toast #success></weui-toast>
<weui-toptips #toptips></weui-toptips>

<div class="text-left">
  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>标题文字</p>
    </div>
    <div class="weui-cell__ft">说明文字</div>
  </div>
</div>
<div class="icon_sp_area">
  <i class="weui-icon-success"></i>
  <i class="weui-icon-success-no-circle"></i>
  <i class="weui-icon-circle"></i>
  <i class="weui-icon-warn"></i>
  <i class="weui-icon-download"></i>
  <i class="weui-icon-info-circle"></i>
  <i class="weui-icon-cancel"></i>
  <i class="weui-icon-search"></i>
</div>
<div class="weui-footer">
  <p class="weui-footer__text">Copyright © 2008-{{year}} weui.io</p>
</div>

